body{
    width: 100vw;
    height: 100vh;
    transform: translate(500px,500px);
}
.cube{
    justify-content:center ;
    width: 100px;
    height:100px;
    background-color: white;
    
}