.area{
    width:1200px;
    height: 590px;
    border: 2px solid black;
    position: relative;
    }
.ball{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid black;
    animation-name: Bounceball;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative; 

    }

@keyframes Bounceball{
0%{
    top: 0px;
    left:0px;
}
10%
{
    top: 490px;
    left: 0px; 
}
20%
{
    top: 250px;
    left: 300px;
}
30%
{
    top: 490px;
    left: 500px;
}
40%
{
    top: 250px;
    left: 700px;
}
50%{
    top: 490px;
    left: 900px;  
}
60%{
    top: 350px;
    left: 1100px;
}
70%{
    top: 0px;
    left: 500px;
}
80%{
    top: 490px;
    left: 100px;
}
90%{
    top: 0px;
    left: 0px;
}
100%{
    top:0px;
    left: 0px;
}